.product-card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #0056b3;
}

/* YourComponent.css */

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10vh;
}

.product-card {
    flex-basis: calc(25% - 10px);
    /* 25% width with 10px margin on each side */
    margin-bottom: 20px;
    box-sizing: border-box;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #0056b3;
}

.page-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
.navbar-brand{
    font-weight: bold;
}
.Nav-div{
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}